# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# macOS folder attributes
Icon?
.Spotlight-V100
.Trashes
.VolumeIcon.icns

# macOS tags
.TemporaryItems
.fseventsd
.com.apple.timemachine.donotpresent
.apdisk

# VSCode
.vscode/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Logs
*.log

# Archives
*.zip
*.tar.gz
*.rar

# Environment files
.env
.env.*

# Trash
*.swp
*.swo
*.tmp

# Others
*.bak
*~
