*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
    
body{
    height: 100vh;
    width: 100%;
}

#cursor{
    position: fixed;
    background-color: rgb(224, 254, 83);
    z-index: 9999;
    height: 10px;
    width: 10px;
    border: none; 
    border-radius: 50%;
}

.page1{
    height: 100%;
    width: 100%;
    background-color: black;
}

#main{
    display: none;
    background-image: url('https://media.about.nike.com/img/41e1d61b-55cb-4659-bc3e-76a70e0cf8fa/nike-blazer-low-x-chevy-surf-blue-1.jpeg?m=eyJlZGl0cyI6eyJqcGVnIjp7InF1YWxpdHkiOjEwMH0sIndlYnAiOnsicXVhbGl0eSI6MTAwfSwiZXh0cmFjdCI6eyJsZWZ0IjowLCJ0b3AiOjE0MCwid2lkdGgiOjMyMDAsImhlaWdodCI6MjEzMn0sInJlc2l6ZSI6eyJ3aWR0aCI6OTAwfX19&s=556b95858b5e88eb4449f5507886190d66da5684640fb09985f6b070d9b1de84');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1.5vw 2.5vw;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.intro{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

nav{
    padding: 10px 25px;
    color: white;
    border-radius: 999px;
    height: 60px;
    background-color: rgba(76, 76, 76, 0.4);
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nike-logo{
    height: 30px;
}

.nike-logo:hover{
    transform: rotate(360deg);
    transition: transform 2s ease;
}

.middle{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.middle .menu-btn{
    height: 40px;
    display: flex;
    align-items: center;
    padding: 3px;
    cursor: default;
    border: 2px solid transparent;
}

.middle .menu-btn:hover{
    border-bottom: 2px solid white;
}

.search{
    color: black;
    height: 40px;
    width: 150px;
    display: flex;
    padding: 10px;
    border: none;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    border-radius: 999px;
    background-color: rgba(255, 255, 255, 0.4);
}

.search input{
    background: transparent;
    color: white;
    height: 40px;
    font-size: medium;
    width: 100px;
    border: none;
}

.search input::placeholder{
    color: white;
}

input:focus{
    outline: none;
    border: none;
    box-shadow: none;
}

.right{
    display: flex;
    align-items: center;
    font-size: large;
    gap: 20px
}

.nav-favorite, .nav-cart{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 50%;
}

.favorite-cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-favorite:hover, .nav-cart:hover{
    background-color: rgba(221, 221, 221, 0.4);;
}

.menu li{
    list-style-type: none;
    font-weight: 400;
}

.new{
    position: absolute; 
    display: none;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px;
    line-height: 1.7em;
    color: white;
    pointer-events: auto;
    top: 31%;
    font-size: small;
    left: 36%;
    background-color: rgba(182, 182, 182, 0.376);
    backdrop-filter: blur(10px);
    border-radius: 4vw;
    transform-origin: top center;
    transform: translate(-50%, -50%);
    height: 40%;
    width: 50%;
    z-index: 10;
}

.new h2{
    line-height: 3em;
}

.men h2{
    line-height: 3em;
}

.men{
    position: absolute; 
    padding: 30px;
    display: none;
    justify-content: space-between;
    align-items: flex-start;
    font-size: small;
    color: white;
    line-height: 1.7em;
    pointer-events: auto;
    top: 31%;
    left: 42%;
    background-color: rgba(182, 182, 182, 0.376);
    backdrop-filter: blur(10px);
    border-radius: 4vw;
    transform-origin: top center;
    transform: translate(-50%, -50%);
    height: 40%;
    width: 50%;
    z-index: 10;
}

.women h2{
    line-height: 3em;
}

.women{
    position: absolute; 
    display: none;
    line-height: 1.7em;
    color:white;
    padding: 30px;
    font-size: small;
    justify-content: space-between;
    align-items: flex-start;
    pointer-events: auto;
    top: 31%;
    left: 46%;
    background-color: rgba(182, 182, 182, 0.376);
    backdrop-filter: blur(10px);
    border-radius: 4vw;
    transform-origin: top center;
    transform: translate(-50%, -50%);
    height: 40%;
    width: 50%;
    z-index: 10;
}

.kids h2{
    line-height: 3em;
}

.kids{
    position: absolute; 
    display: none;
    color: white;
    font-size: small;
    padding: 30px;
    line-height: 1.7em;
    justify-content: space-between;
    align-items: flex-start;
    pointer-events: auto;
    top: 31%;
    left: 50%;
    background-color: rgba(182, 182, 182, 0.376);
    backdrop-filter: blur(10px);
    border-radius: 4vw;
    transform-origin: top center;
    transform: translate(-50%, -50%);
    height: 40%;
    width: 50%;
    z-index: 10;
}

.sale h2{
    line-height: 3em;
}

.sale{
    position: absolute; 
    display: none;
    font-size: small;
    color: white;
    padding: 30px;
    line-height: 1.7em;
    justify-content: space-between;
    align-items: flex-start;
    pointer-events: auto;
    top: 28%;
    left: 53%;
    background-color: rgba(182, 182, 182, 0.376);
    backdrop-filter: blur(10px);
    border-radius: 4vw;
    transform-origin: top center;
    transform: translate(-50%, -50%);
    height: 34%;
    width: 50%;
    z-index: 10;
}

.slogan-top{
    position: absolute;
    top: 15%;
    font-family: Arial;
    color: rgba(224, 254, 83);
    mix-blend-mode: add;
    height: 30%;
    width: 30%;
}

.slogan-top h2{
    font-weight: 300;
    font-size: 4vw;
    color: rgba(224, 254, 83);
}

.slogan-top h1{
    font-weight: 500;
    font-size: 6vw;
    line-height: 0.9em;
}

.slogan-bottom h1{
    padding: 3%;
    position: absolute;
    word-break: break-word;
    /* left: 70%; */
    /* top: 50%; */
    bottom: 0;
    left: 60%;
    line-height: 0.9em;
    font-size: 13vw;
    color: lightblue;
    text-align: right;
    mix-blend-mode: color-dodge;
}

.page1 .view-more{
    height: 9vh;
    width: 14vw;
    background-color: white;
    border: none;
    border-radius: 999px;
    font-size: x-large;
    position: absolute;
    bottom: 5%;
}

.page1 .view-more:hover{
    background-color: black;
    color: white;
}

.page2{
    height: 100%;
    width: 100%;
    background-color: black;
}

.page2 h1{
    color: white;
    padding: 2.5vw 4vw;
    font-size: 6vw;
    font-family: sans-serif;
}

.arrow{
    display: inline-block;
}